{% extends 'base.html.twig' %}
{% block body %}
{% for series in episode %}
<div class="container-fluid vh-80 ">
<div class="row d-flex justify-content-center  align-items-center h-100  ">
<div class="col-4">
<img class="pl-5" src="/{{series.ImageSerie}}">

</div>
<div class="col-5">
<h2 class="text-uppercase"><span>episode {{series.id}} : </span>{{series.NomEpisode}}</h2>
<p>{{series.description}}</p>
 
<p>réalise par : {{series.realisateur}} | date de sortie : {{series.dateAt|date("m/d/Y", false) }}</p>
</div>
</div>
</div>
{% endfor %}
{% endblock %}
